html, body {
    box-sizing: border-box;
    background-color: lightgray;
    max-width: 800px;
    margin: auto;
    
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    font-size: 40px;
}
