html, body {
    box-sizing: border-box;
    background-color: lightgray;
    max-width: 800px;
    margin: auto;
    
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    font-size: 40px;
}

.main__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    padding: 20px 20px;
    background-color: white;
    max-width: 700px;
    border-bottom: 1px;
}

.main__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 0px;
    padding: 20px 20px;
    background-color: white;
    max-width: 700px;
    border-bottom: 1px solid lightgrey;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.main__input {
    width: 530px;
    height: 40px;
    
}

.main__button {
    margin-left: 20px;
    font-size: 15px;
    height: 40px;
    width: 120px;
    background-color: teal;
    padding: 5px 10px;
    color: white;
    font-weight: 300;
    border: none;
    font-family: 'Lato', sans-serif;

}